:root {
    --light: #ffffff;
    --dark: #000000;    
  }
*{
    scroll-behavior: smooth;
}
.nav-active{
    border-bottom: 1px solid orange;
}
.sub-header{
    font-size: 22px;
    font-weight: 500;
}
.small-header{
    font-size: 12px;
    font-weight: 500;
}
.description{
    font-size: 15px;
    word-break: break-word;
    color: #353535;
    opacity: 5px;
}
.logo{
    width: 250px;
}
.banner-img{
    width: 100%;
}
.nav-link{
    color: #000000;
}
.section-header{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.home-header{
    padding-top: 100px;
}
.service{
    margin-top: 30px;
}
.service-content{
    padding: 30px 10px;
    min-height: 250px;
    background-color: #ffffff;
    border-radius:  10px;
    box-shadow: 0px 7px 7px 7px #c4c4c42f;
}
.service-img{
    width: 50px;
}
#team{
    padding-top: 50px;
}
.team-img{
    width: 100%;
}
.team-text{
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
}
.small-text{
    font-size: 12px;
}
.training-btn{
    margin-top: 20px;
    background-color: #ff4f5a;
    color: #ffffff;
}
.training-btn:hover{
    color: #ffffff;
}
.carousel-item>img{
    width: 100%;
    height: auto;
}
.carousel-inner{
    margin-left: auto;
    margin-right: auto;
}
/* footer */
footer{
    margin-top: 50px;
}
.footer-logo-container{
    border-right: 1px solid #35353544;
}
.footer-logo{
    padding-top: 30px;
    width: 100%;
}
.footer-list{
    list-style-type: none;
    color: #000000 ;
    font-style: none;
    padding-left: 10px !important;    
}
.footer-list>li{
    padding: 5px 0px 10px 15px;
}
.footer-list>li>a{
    color: #000000;
}
.copyright-text{
    padding: 20px;
    background-color: #f5f5f5bb;
}
.project-about{
    margin-top: 20px;
}
/* sidebar  */
.sidebar {
    display: inline-block;
    float: left;
    position: sticky;
    top: 200px;
}
.sidebar-list{
    list-style-type: none;
    padding-left: 10px;
}
.sidebar-list-item{
    padding: 10px;
    writing-mode: vertical-rl; 
}
.sidebar-list-item>a{
    color: #000000;
}
.sidebar-list-item>a:hover{
    text-decoration: none;
}
.sidebar-active{
    border-left: 1px solid #ff4f5a;
}
#dilkiawaz{
    background-color: #ddf0fe;
}
#smartbus{
    background-color: #fdf8f2;
}

@media only screen  and (max-width : 768px){
    .home-header{
        padding-top: 30px;
    }
    .section-header{
        font-size: 30px;
        padding-top: 15px;
    }
    #team{
        padding-top: 10px;
    }
    .team-text{
        padding-top: 10px;
    }
    footer{
        margin-top: 10px;
    }
    .footer-logo-container{
        border-right: none;
    }
    .footer-logo{
        padding-top: 0px;
        padding-bottom: 10px;
        width: 60%;
    }
}
@media only screen  and (max-width : 576px){
    .sidebar{
        display: none;
    }
    .carousel-item>img{
        width: 50%;
        height: auto;
        margin: auto;
    }
}